.cadastro {
  width: 100%;
  min-height: 100vh;
  display: flex;
  background-color: var(--azulClaro);
}


.containerCadastro {
  width: 50%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 50px 50px;
}


.cardCadastro {
  width: min(650px, 100%);
  display: flex;
  flex-direction: column;
  gap: 25px;
}


.titulo h1 {
  color: var(--branco);
  font-family: "Outfit";
  margin-bottom: 8px;
}


.titulo p {
  color: var(--branco);
  opacity: 0.9;
}


.campos {
  display: flex;
  flex-direction: column;
  gap: 18px;
}


.duasColunas {
  display: grid;
  grid-template-columns:
    repeat(2, minmax(0, 1fr));
  gap: 20px;
}


.campoSelect {
  display: flex;
  flex-direction: column;
}


.campoSelect label {
  color: var(--branco);
  margin-bottom: 10px;
}


.campoSelect select {
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 7px;
  font-size: 17px;
  background-color: white;
}


.erro {
  padding: 10px 15px;
  border-radius: 7px;
  background-color:
    rgba(170, 25, 25, 0.9);

  color: white;
  font-size: 14px;
}


.login {
  color: var(--branco);
  text-align: center;
}


.login a {
  color: var(--branco);
  font-weight: bold;
}


.containerFoto {
  width: 50%;
  min-height: 100vh;
  position: relative;
  background-image:
    url("../../../assets/LoginAluno/pessoas-estudando.jpg");
  background-position: center;
  background-size: cover;
}


.containerFoto::after {
  position: absolute;
  content: "";
  inset: 0;
  background: linear-gradient(
    to right,
    var(--azulClaro),
    transparent,
    transparent
  );
}


@media (max-width: 900px) {
  .containerCadastro {
    width: 100%;
  }
  .containerFoto {
    display: none;
  }

}


@media (max-width: 600px) {
  .containerCadastro {
    padding:
      100px 25px 40px;
  }
  .duasColunas {
    grid-template-columns: 1fr;
  }
}